@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.pokemon {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .pokemon span {
    margin-bottom: 5%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;  
  }
    .pokebola img{
      height: 30px;
      width: 30px;
      margin-left: 45%;
      margin-right: 50%;
    }