.counter {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;
}

.counter-error {
    color: rgba(220, 20, 20, 0.781);
    font-weight: bold;
}

.button {
    background-color: #919191; 
    border-radius: 4px;
    border: 1pt solid #919191;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

    .button:hover {
        opacity: 0.9;
     }